@import url('https://fonts.cdnfonts.com/css/zagora');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: khand,sans-serif;
   
}


.top-button{
    position: fixed;
    bottom: 30px;
    right: 40px;
    background-color: #f9004d;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100px;
    z-index: 9;
}
.top-button a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    align-self: center;

}
nav {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    z-index: 100;

}
.btn{
   background-color: #191919;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;


}

.logo a{

    color: #191919;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Zagora', sans-serif;
}
.logo a:hover{

    color:#f9004d;
}

nav ul li{
    font-size: 20px;
    list-style-type:none;
    display: inline-block;
    padding: 10px 60px;


}
nav ul li a{
    z-index: 100;
    position: relative;
    color: #191919;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;

}

h1{
    color: #191919;
    margin: 20px 0 20px;
    font-size: 75px;

}
h3{
    color: #191919;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #191919;
    letter-spacing: 2px ;
    font-size: 20px;

}

.dropdown {
  position: relative;
  display: inline-block;

}
.dropdown1{
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown p{
    margin: 10px;
    font-weight: bold;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
.dropdown-content a:hover {background-color: #ddd;}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.about{
    display: flex;
    padding: 0 30px 20px;
    width: 100%;
    flex-direction: row;
    background-color: #191919 ;
}
.direct{
    width: 100%;
    height: 100%;
    padding-right: 80px;
    display: flex;
    margin-top:250px;
    margin-left: 30px;

}
.direct ul li a{
    color: white;
    cursor: pointer;


}
.direct ul{
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}
.direct li{
    letter-spacing: 1px;
    padding: 1.5rem;
    position: relative;

}
.direct li:before {
    content: "\25b8";
    position: absolute;
    left: 0.5px;
    color: #f9004d;
}

.about-text{

    display: flex;
    flex-direction: column;
    padding: 2px;
}
.main{


    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 50px;

}

.about-text h2{
     padding: 3rem 0;
    color: white;
    font-size: 100px;
    text-transform: capitalize;
    margin-bottom: 20px;
     text-align: center;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 24px;
    margin-bottom: 25px;
    text-transform: capitalize;
     text-align: start;

}

.about-text h4{
    color: white;
    letter-spacing: 2px;
    font-size: 24px;
    margin-bottom: 25px;
    text-transform: capitalize;
     text-align: start;

}

.about-text p{
    max-width: 95%;
    color: #adacac;
    letter-spacing: 1px;
    font-size: 22px;
    line-height: 28px;
    margin: 30px;
    text-align-last:left;
}


.bosluk{
    color: transparent;
    background-color: #191919;
    height: 100px;
}



footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #101010;
    display: flex;
    flex-direction: row;
    padding: 100px 15%;

}
footer div{
    text-align: center;
}
.coll-1{
    display: flex;
    flex-direction: column;
    color: white;
    flex-grow: 1;
}
.coll-2{
    display: flex;
    flex-direction: column;
    color: white;
        flex-grow: 1;

}
.coll-3{
    display: flex;
    flex-direction: column;
    color: white;
    flex-grow: 1;
    padding-left: 100px;

}
.coll-1 a{
    text-decoration: white;
    padding: 5px;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    font-size: 17px;
    color: white;
    width: 500px;
    text-align: center;
    line-height: 26px;

}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;

}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
#slider-container {
  width: 600px;
  overflow: hidden;
}




.zs-meta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  border:1px white solid;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.meta-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
}

.tag {

  color: #adacac;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.taga {

  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}


.text--white {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .zs-meta {
    grid-template-columns: repeat(2, 1fr);
  }
}














