{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Gönderildi..</title>
</head>
<body>
<h3 style="text-align: center;font-weight: bold;font-size: 30px">Şifre Sıfırlama Maili Gönderildi</h3>
<p style="text-align: center;font-size: 20px"> Girdiğin mail ile bir hesap varsa, şifreni sıfırlamak için emaili gönderdik. Birkaç dakika içerisinde size ulaşmalı.

Eğer mail almadıysanız doğru epostayı girdiğinizden emin olun ve spam klasörünüzü kontrol edin.

</p>
</body>
</html>