{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/password.css' %}"/>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <title>Yeni Şifre Oluştur</title>
         <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
</head>
<body>
<nav> <h2 class="logo"><a href="anasayfa">Astrolots</a></h2></nav>
<section>
<div class="form-box">
    <h4>Yeni Şifre Oluştur</h4>
<form method="post">{% csrf_token %}
    <div class="inputbox">
        <ion-icon name="lock"></ion-icon>
        {{ form }}
    </div>

    <button type="submit" name="Update Password">Değiştir</button>
</form>
</div>
</section>
</body>
</html>